
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.main-jVg {
  flex-direction: column;
  background-color: rgba(119, 119, 119, 0.8000000119);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 5.5rem 3rem 14.2rem 3.5rem;
  position: relative;
  display: flex;
  background-position: center;
  background-image: url('REPLACE_IMAGE:0462ec8d981edf288724131e4454658771960e66');
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;

  .auto-group-1iea-4H4 {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 3.9rem;
    width: 100%;
    height: 19.5rem;

    .auto-group-wog2-yev {
      background-position: center;
      background-image: url('REPLACE_IMAGE:f01f03fa604919738b5290c98b26f95ddd5a36b1');
      flex-shrink: 0;
      height: 100%;
      background-size: 100% 100%;
      background-repeat: no-repeat;

      .image-38-93c {
        height: 19.5rem;
        object-fit: cover;
        vertical-align: top;
        width: 22.8rem;
      }
    }
    .auto-group-2ken-3en {
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.8rem 0rem 0rem 0.6rem;

      .auto-group-jn4e-k3Q {
        width: 59.3rem;
        height: calc(100% - 4.5rem);
        position: relative;
        flex-shrink: 0;
        margin: 1.95rem 73.6rem 2.55rem 0rem;

        .radical-ways-sNv {
          left: 0;
          top: 0;
          color: #000000;
          height: 13.2rem;
          position: absolute;
          display: flex;
          font-size: 9.6rem;
          font-weight: 700;
          line-height: 1.365;
          font-family: Manrope, 'Source Sans Pro';
          white-space: nowrap;
          width: 59.3rem;
        }
        .radical-ways-aYE {
          line-height: 1.365;
          color: #000000;
          width: 59.3rem;
          height: 13.2rem;
          top: 0;
          display: flex;
          font-size: 9.6rem;
          position: absolute;
          left: 0;
          font-weight: 700;
          font-family: Manrope, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .vecteezyuser-icon-on-transparent-background19879186-1-6Wa {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        width: 29.2rem;
        height: 17.7rem;
        cursor: pointer;
      }
    }
  }
  .your-order--QXG {
    flex-shrink: 0;
    margin: 0rem 0rem 1.8rem 13.7rem;
    font-size: 4.8rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
  }
  .text-field-Ku8 {
    border-radius: 1.2rem;
    flex-shrink: 0;
    margin: 0rem 14.6rem 23.7rem 11.4rem;
    overflow: hidden;
    display: flex;
    line-height: 1.365;
    font-family: Manrope, 'Source Sans Pro';
    background-color: #ffffff;
    height: 15.9rem;
    color: #000000;
    justify-content: center;
    width: calc(100% - 26rem);
    font-size: 3.2rem;
    align-items: center;
    position: relative;
    font-weight: 700;
    white-space: nowrap;
  }
  .auto-group-jqwi-zEa {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 2.2rem 0rem 1.4rem;
    width: calc(100% - 3.6rem);
    height: 16.3rem;

    .auto-group-v7vv-3yY {
      box-shadow: 0 0.4rem 4.53rem #569daa;
      background-color: #569daa;
      border-radius: 4.5rem;
      white-space: nowrap;
      justify-content: center;
      display: flex;
      color: #ffffff;
      width: 54rem;
      height: 100%;
      flex-shrink: 0;
      line-height: 1.365;
      font-family: Manrope, 'Source Sans Pro';
      font-weight: 700;
      align-items: center;
      margin-right: 9.9rem;
      font-size: 6.4rem;
    }
    .auto-group-ug38-WcE {
      height: 100%;
      color: #ffffff;
      align-items: center;
      margin-right: 10rem;
      display: flex;
      font-size: 6.4rem;
      font-family: Manrope, 'Source Sans Pro';
      box-shadow: 0 0.4rem 4.53rem #569daa;
      line-height: 1.365;
      justify-content: center;
      border-radius: 4.5rem;
      flex-shrink: 0;
      width: 54rem;
      font-weight: 700;
      white-space: nowrap;
      background-color: #569daa;
    }
    .auto-group-upas-PAE {
      height: 100%;
      font-size: 6.4rem;
      font-family: Manrope, 'Source Sans Pro';
      white-space: nowrap;
      box-shadow: 0 0.4rem 4.53rem #569daa;
      flex-shrink: 0;
      line-height: 1.365;
      align-items: center;
      justify-content: center;
      background-color: #569daa;
      width: 54rem;
      border-radius: 4.5rem;
      display: flex;
      font-weight: 700;
      color: #f1f1f1;
    }
  }
}
