
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.profile-page-uVG {
  padding: 5.5rem 3rem 18.9rem 4.9rem;
  width: 100%;
  position: relative;
  background-color: rgba(119, 119, 119, 0.8000000119);
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-image: url('REPLACE_IMAGE:0462ec8d981edf288724131e4454658771960e66');

  .auto-group-bexn-RiW {
    margin-bottom: 7.6rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .image-40-xiS {
      height: 19.5rem;
      cursor: pointer;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 0.6rem;
      width: 22.8rem;
    }
    .radical-ways-u7t {
      margin: 1.2rem 22.1rem 0rem 0rem;
      cursor: pointer;
      display: flex;
      font-size: 9.6rem;
      font-weight: 700;
      line-height: 1.365;
      color: #000000;
      font-family: Manrope, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .auto-group-andt-oUA {
      margin-top: 1.8rem;
      width: 79.3rem;
      height: 17.7rem;
      position: relative;
      flex-shrink: 0;

      .vecteezyuser-icon-on-transparent-background19879186-1-LU6 {
        left: 50.1rem;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        width: 29.2rem;
        height: 17.7rem;
        position: absolute;
      }
      .rectangle-7-eUn {
        width: 53.2rem;
        height: 9.8rem;
        position: absolute;
        left: 0;
        top: 4rem;
        box-shadow: 0 0.4rem 4.53rem #569daa;
        background-color: #569daa;
        border-radius: 4.5rem;
      }
      .set-new-profile-picture-iDk {
        line-height: 1.365;
        color: #f1f1f1;
        height: 5.5rem;
        left: 3.7rem;
        top: 6.1rem;
        display: flex;
        font-size: 4rem;
        font-weight: 700;
        font-family: Manrope, 'Source Sans Pro';
        white-space: nowrap;
        width: 44.8rem;
        position: absolute;
      }
    }
  }
  .auto-group-m646-Q6a {
    align-items: flex-start;
    flex-shrink: 0;
    margin: 0rem 22rem 0rem 20.4rem;
    width: calc(100% - 42.4rem);
    height: 56.5rem;
    display: flex;

    .text-field-vai {
      width: 58.3rem;
      height: 100%;
      position: relative;
      overflow: hidden;
      background-color: #ffffff;
      border-radius: 1.2rem;
      flex-shrink: 0;
      margin-right: 16.9rem;

      .auto-group-hpxp-3QS {
        position: absolute;
        left: 2.4rem;
        top: 1.5rem;
        width: 53.5rem;
        height: 9.3rem;

        .auto-group-dmt4-n78 {
          box-sizing: border-box;
          width: 20.5rem;
          font-size: 4.8rem;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          margin-right: 33rem;
          padding: 2.1rem 0rem 0rem 1rem;
          height: 100%;
          font-weight: 400;
          color: #000000;
          white-space: nowrap;
        }
      }
      .line-1-UEr {
        object-fit: contain;
        vertical-align: top;
        width: 49.9049rem;
        height: 0;
        position: absolute;
        left: 2.5rem;
        top: 12.1rem;
      }
      .line-3-PMp {
        width: 49.9049rem;
        height: 0;
        position: absolute;
        left: 2.5rem;
        top: 33rem;
        object-fit: contain;
        vertical-align: top;
      }
      .line-5-vce {
        left: 2.5rem;
        top: 44rem;
        object-fit: contain;
        vertical-align: top;
        width: 49.9049rem;
        height: 0;
        position: absolute;
      }
      .line-4-SL6 {
        width: 49.9049rem;
        height: 0;
        position: absolute;
        left: 2.5rem;
        top: 22.5rem;
        object-fit: contain;
        vertical-align: top;
      }
      .delete-account-xZL {
        font-weight: 400;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        height: 7.2rem;
        left: 3.4rem;
        top: 14.1rem;
        font-size: 4.8rem;
        line-height: 1.5;
        color: #000000;
        width: 36.6rem;
      }
      .current-trip-Ga2 {
        width: 27.4rem;
        height: 7.2rem;
        top: 24.4rem;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        left: 3.4rem;
        font-size: 4.8rem;
        font-weight: 400;
        line-height: 1.5;
        color: #000000;
      }
      .change-info-yjL {
        color: #569daa;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        width: 29.6rem;
        position: absolute;
        top: 34.9rem;
        font-weight: 400;
        height: 7.2rem;
        left: 3.4rem;
        font-size: 4.8rem;
        line-height: 1.5;
      }
      .get-help-Hzv {
        top: 46rem;
        font-weight: 400;
        font-family: Poppins, 'Source Sans Pro';
        font-size: 4.8rem;
        line-height: 1.5;
        color: #000000;
        white-space: nowrap;
        width: 20.3rem;
        height: 7.2rem;
        position: absolute;
        left: 3.4rem;
      }
    }
    .auto-group-czqn-c1c {
      margin-top: 5.7rem;
      width: 66.5rem;
      flex-shrink: 0;

      .name-current--ME6 {
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 1.8rem 0.8rem;
        font-size: 3.6rem;
        font-weight: 400;
        line-height: 1.5;
      }
      .text-field-UJi {
        margin-bottom: 5.7rem;
        padding: 1.4rem 0.9rem 0.9rem 0.9rem;
        overflow: hidden;
        background-color: #ffffff;
        box-sizing: border-box;
        width: 100%;
        height: 7.3rem;
        position: relative;
        border-radius: 1.2rem;

        .auto-group-64f8-Nez {
          width: 12.5rem;
          display: flex;
          font-size: 3.6rem;
          font-family: Manrope, 'Source Sans Pro';
          align-items: center;
          margin-right: 52.2rem;
          height: 100%;
          font-weight: 700;
          line-height: 1.365;
          color: #000000;
          white-space: nowrap;
          justify-content: center;
        }
      }
      .surname-current--RtA {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.6rem;
        font-size: 3.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #000000;
      }
      .text-field-A54 {
        box-sizing: border-box;
        padding: 1.15rem 1.5rem;
        width: 100%;
        height: 7.3rem;
        overflow: hidden;
        position: relative;
        background-color: #ffffff;
        border-radius: 1.2rem;

        .auto-group-zzht-5hp {
          font-weight: 700;
          line-height: 1.365;
          color: #000000;
          font-family: Manrope, 'Source Sans Pro';
          align-items: center;
          justify-content: center;
          width: 16.4rem;
          font-size: 3.6rem;
          display: flex;
          white-space: nowrap;
          margin-right: 47.1rem;
          height: 100%;
        }
      }
    }
  }
}
