
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.your-driver-S6J {
  background-position: center;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  align-items: flex-end;
  display: flex;
  background-size: 100% 100%;
  padding: 17.3rem 2.5rem 0rem 9.45rem;
  overflow: hidden;
  flex-direction: column;
  background-repeat: no-repeat;
  background-image: url('REPLACE_IMAGE:7b80ca6a9dd75a068e51416cde4300c71b652881');

  .auto-group-awhu-9Fc {
    margin: 0rem 21.85rem 10rem 0rem;
    width: 158.2rem;
    height: 66.4rem;
    position: relative;
    flex-shrink: 0;

    .but-name-rejected-your-order-U2z {
      width: 157rem;
      left: 1.2rem;
      font-weight: 500;
      align-items: center;
      font-size: 9.6rem;
      line-height: 1.5;
      position: absolute;
      display: flex;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      height: 14.4rem;
      top: 13.65rem;
      justify-content: center;
    }
    .sorry-YoY {
      line-height: 1.5;
      font-weight: 500;
      font-family: Poppins, 'Source Sans Pro';
      height: 14.4rem;
      position: absolute;
      top: 0;
      justify-content: center;
      left: 0;
      align-items: center;
      color: #ffffff;
      white-space: nowrap;
      width: 24.9rem;
      display: flex;
      font-size: 9.6rem;
    }
    .rectangle-10-Se2 {
      left: 55.55rem;
      top: 44rem;
      box-shadow: 0 0.4rem 4.53rem #569daa;
      background-color: #6b9ca5;
      border-radius: 4.5rem;
      width: 62rem;
      height: 22.4rem;
      position: absolute;
    }
    .back-to-user-page-Yh4 {
      left: 59.25rem;
      display: flex;
      color: #f1f1f1;
      font-family: Manrope, 'Source Sans Pro';
      height: 8.8rem;
      position: absolute;
      font-size: 6.4rem;
      font-weight: 700;
      line-height: 1.365;
      white-space: nowrap;
      width: 54.6rem;
      top: 50.75rem;
    }
  }
  .image-38-eEJ {
    width: 8.4rem;
    height: 11.1rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
    margin-bottom: 19.8rem;
  }
  .rectangle-9-Lcv {
    width: 59.9rem;
    height: 12.7rem;
    border: solid 0.8rem #ffffff;
    box-sizing: border-box;
    background-color: rgba(253, 253, 253, 0);
    flex-shrink: 0;
    margin-right: 11.3rem;
  }
}
