<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Driver page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/driver.css') }}">
</head>

<body>
    <div class="logo">
        <img src="{{ url_for('static', filename='assets/logo.png') }}">
    </div>
    <div class="container">
        <div id="orders" class="title-and-orders">
            <h2>Current orders:</h2>
            {% for m in order_list %}
                <div class="order" data-id="{{ m }}" onclick="selectOrder(this)">
                    <p>{{ [m['last_point'], m['starting_point']] + m['additional'] if m['additional'] else [m['last_point'],
                        m['starting_point']]}}</p>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="buttons">
        <form action='/driver_page' method="post">
            <button id="sendButton" type='submit' name="action1" class="button">Accept the chosen order</button>
            <button id="sendButton" type='submit' name="action2" class="button">See on a map</button>
        </form>
    </div>
    <div>
        <img class="profile" onclick="window.location.href='/profile'"
            src="{{ url_for('static', filename='assets/transperent_person.png') }}">
    </div>

    {% if city_list %}
    <div id="map" style="height: 100px; width: 25%;"></div>
    {% endif %}

    <script>
        function selectOrder(element) {
            document.querySelectorAll('.order').forEach(order => {
                order.classList.remove('selected');
            });
            element.classList.add('selected');
        }

        document.getElementById('sendButton').addEventListener('click', function (event) {
            event.preventDefault();

            const selectedOrder = document.querySelector('.order.selected');
            if (selectedOrder) {
                const orderId = selectedOrder.getAttribute('data-id');
                const formData = new FormData();
                formData.append('orderId', orderId);

                fetch('/driver_page', {
                    method: 'POST',
                    body: formData
                }).then(response => response.json())
                    .then(data => {
                        console.log('Дані успішно відправлено:', data);
                    }).catch(error => {
                        console.error('Помилка під час відправлення запиту:', error);
                    });
            } else {
                console.log('Спочатку виберіть замовлення');
            }
        });

    </script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZLOb5jlcg6kuiu7ovzBg6yAdjwkcqfAA&callback=initMap"></script>

<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: -34.397, lng: 150.644 },
            zoom: 8
        });

        var city_list = {{ city_list | tojson
    }};

    for (var i = 0; i < city_list.length - 1; i++) {
        var directionsService = new google.maps.DirectionsService();
        var request = {
            origin: city_list[i],
            destination: city_list[i + 1],
            travelMode: 'DRIVING'
        };
        directionsService.route(request, function (response, status) {
            if (status == 'OK') {
                var directionsDisplay = new google.maps.DirectionsRenderer();
                directionsDisplay.setMap(map);
                directionsDisplay.setDirections(response);
            }
        });
    }
    }
</script>
</body>

</html>