<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/driver.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="logo">
        <img src="{{ url_for('static', filename='assets/logo.png') }}">
    </div>
    <div class="container">
        <div id="orders" class="title-and-orders">
            <h2>Current orders:</h2>
            {% if order_list%}
                {% for m in order_list %}
                <form action='/driver_page' method='post'>
                    <button method='submit' name='button' value='{{ m|tojson }}' class='order'>{{m['naming']}}</button>
                </form>
                {% endfor %}
            {% else %}
                <h4>No available orders</h4>
            {% endif %}
        </div>
    </div>
    <div>
        <img class="profile" onclick="window.location.href='/profile'"
            src="{{ url_for('static', filename='assets/transperent_person.png') }}">
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            function checkTripStatus() {
                $.ajax({
                    url: '/check_orders_status',
                    method: 'GET',
                    success: function (data) {
                        if (data.status === 'changed') {
                            window.location.replace("/driver_page");
                        }
                    },
                    error: function (error) {
                        console.log("Error occurred:", error);
                    }
                });
            }

            setInterval(checkTripStatus, 1000);
        });
    </script>

</body>

</html>