<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>End of trip</title>
    <link rel="stylesheet" href="../styles/general.css">
    <link rel="stylesheet" href="../styles/over.css">
</head>

<body>
    <div class="logo">
        <img src="../assets/logo.png">
    </div>
    <div class="container">
        <h1>Your trip is complete</h1>
        <button onclick="window.location.href='M_user.html'" class="button">New trip</button>
    </div>
    <div>
        <img class="profile" onclick="window.location.href='V_profile.html'" src="../assets/transperent_person.png">
    </div>
</body>

</html>