<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/user.css') }}">
</head>

<body>
    <div class="logo">
        <img src="{{ url_for('static', filename='assets/logo.png') }}">
    </div>
    <div class="order-container">
        <form id="myForm" action='/choose_way' method='post'>
            <input class="input-field" type="text" name='start' id="start" placeholder="Початок"><br><br>
            <input class="input-field" type="text" name='end' id="end" placeholder="Кінець"><br><br>
            <input class="input-field" type="text" id="waypoint" placeholder="Проміжні точки"><br><br>
            <div class="output-field" id="formattedWaypoints">&nbsp;</div>
            <input type="hidden" name="waypoints" id="waypointsInput">
            <div class="buttons">
                <button onclick="submitForm()" class="button" name="action" value="button1">View on a map</button>
                <button onclick="submitForm()" class="button" name="action" value="button2">Find a driver</button>
            </div>
        </form>
    </div>
    <div>
        <img class="profile" onclick="window.location.href='/profile'"
            src="{{ url_for('static', filename='assets/transperent_person.png') }}">
    </div>

    {% if city_list %}
    <div id="map" style="height: 400px; width: 100%;"></div>
    {% endif %}


    <script>
        function submitForm() {
            let formattedWaypoints = document.getElementById('formattedWaypoints').innerText;
            document.getElementById('waypointsInput').value = formattedWaypoints;

            document.getElementById('myForm').submit();
        }
    </script>
    <script>
        var waypoints = [];

        function addWaypoint() {
            var waypointInput = document.getElementById("waypoint");
            var waypointValue = waypointInput.value.trim();
            if (waypointValue !== "") {
                waypoints.push(waypointValue);
                updateFormattedWaypoints();
                waypointInput.value = "";
            }
        }

        function updateFormattedWaypoints() {
            var formattedWaypointsDiv = document.getElementById("formattedWaypoints");
            var start = document.getElementById("start").value.trim();
            var end = document.getElementById("end").value.trim();
            var allWaypoints = [start].concat(waypoints, [end]);
            formattedWaypointsDiv.textContent = allWaypoints.join(", ");
        }

        document.getElementById("waypoint").addEventListener("keypress", function (event) {
            if (event.key === "=") {
                addWaypoint();
            }
        });
    </script>

    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: -34.397, lng: 150.644 },
                zoom: 8
            });

            var city_list = {{ city_list | tojson
        }};

        for (var i = 0; i < city_list.length - 1; i++) {
            var directionsService = new google.maps.DirectionsService();
            var request = {
                origin: city_list[i],
                destination: city_list[i + 1],
                travelMode: 'DRIVING'
            };
            directionsService.route(request, function (response, status) {
                if (status == 'OK') {
                    var directionsDisplay = new google.maps.DirectionsRenderer();
                    directionsDisplay.setMap(map);
                    directionsDisplay.setDirections(response);
                }
            });
        }
        }
    </script>

    <script>
        function submitForm() {
            let formattedWaypoints = document.getElementById('formattedWaypoints').innerText;
            document.getElementById('waypointsInput').value = formattedWaypoints;

            document.getElementById('myForm').submit();
        }
    </script>

    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZLOb5jlcg6kuiu7ovzBg6yAdjwkcqfAA&callback=initMap"></script>

</body>