<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/general.css">
    <link rel="stylesheet" href="../styles/user.css">
</head>

<body>
    <div class="logo">
        <img src="../assets/logo.png">
    </div>
    <div class="order-container">
        <input class="input-field" type="text" id="start" placeholder="Початок"><br><br>
        <input class="input-field" type="text" id="end" placeholder="Кінець"><br><br>
        <input class="input-field" type="text" id="waypoint" placeholder="Проміжні точки"><br><br>
        <div class="output-field" id="formattedWaypoints">&nbsp;</div>
        <div class="buttons">
            <button onclick="window.location.href='Map.html'" class="button">See on a map</button>
            <button onclick="window.location.href='V_searching.html'" class="button">Find a driver</button>
        </div>
    </div>
    <div>
        <img class="profile" onclick="window.location.href='V_profile.html'" src="../assets/transperent_person.png">
    </div>
</body>
<script>
    var waypoints = [];

    function addWaypoint() {
        var waypointInput = document.getElementById("waypoint");
        var waypointValue = waypointInput.value.trim();
        if (waypointValue !== "") {
            waypoints.push(waypointValue);
            updateFormattedWaypoints();
            waypointInput.value = "";
        }
    }

    function updateFormattedWaypoints() {
        var formattedWaypointsDiv = document.getElementById("formattedWaypoints");
        var start = document.getElementById("start").value.trim();
        var end = document.getElementById("end").value.trim();
        var allWaypoints = [start].concat(waypoints, [end]);
        formattedWaypointsDiv.textContent = allWaypoints.join(", ");
    }

    document.getElementById("waypoint").addEventListener("keypress", function (event) {
        if (event.key === "Enter") {
            addWaypoint();
        }
    });
</script>

</html>