<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create an account</title>
    <link rel="stylesheet" href="../styles/general.css">
    <link rel="stylesheet" href="../styles/sign-up.css">
</head>

<body>
    <div class="logo">
        <img src="../assets/logo.png">
    </div>
    <div class="container">
        <h2>Create an account</h2>
        <div class="input-container">
            {% if get_flashed_messages() %}
            <div class="flash">
                {% for msg in get_flashed_messages() %}
                <div>{{msg}}</div>
                {% endfor %}
            </div>
            {% endif %}
            <label class="switch">
                <input type="checkbox" id="toggleFields" onclick="toggleFields()" checked>
                <span class="slider round"></span>
            </label>
            <a>Are you a Driver?</a>
            <!-- <form action='/sign_up' method='post'> -->
            <input type="text" class="input-field" placeholder="First name" name='name' id='name' , value=''>
            <input type="text" class="input-field" placeholder="Last name" name='surname' id='surname' , value=''>
            <input type="text" class="input-field" placeholder="Email" name='email' id='email' , value=''>
            <input type="text" class="input-field" placeholder="Password" name='password' id='password' , value=''>
            <input type="text" class="input-field" id="car" placeholder="Car" name='car' id='car' , value=''>
            <input type="text" class="input-field" id="license" placeholder="Car's license" name='license'
                id='Car_license' , value=''>
            <button class="button" onclick="window.location.href='O_main.html'">Create an account</button>
            <!-- </form> -->
        </div>
    </div>

    <script>
        function toggleFields() {
            var carField = document.getElementById("car");
            var licenseField = document.getElementById("license");

            if (carField.style.display === "none") {
                carField.style.display = "inline";
                licenseField.style.display = "inline";
            } else {
                carField.style.display = "none";
                licenseField.style.display = "none";
            }
        }
    </script>
</body>

</html>