<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/start.css') }}">
</head>

<body>

    <div class="container">
        <div class="logo-and-text">
            <div class="logo-and-name">
                <div class="logo">
                    <img src="{{ url_for('static', filename='assets/logo.png') }}">
                </div>
                <h1>Radical Ways</h1>
            </div>
            <p>Radical ways is a transportation network website that operates a ride-hailing service which is convenient
                to
                use. It provides on-demand transportation services, allowing users to request a ride using our
                algorithm.
            </p>
        </div>
        <div class="buttons">
            <button class="button" onclick="window.location.href='/sign_up'">Sign Up</button>
            <button class="button" onclick="window.location.href='/log_in'">Log In</button>
        </div>
    </div>
</body>

</html>