<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Account</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/delete.css') }}">
</head>

<body>
    <div class="logo">
        <img src="{{ url_for('static', filename='assets/logo.png') }}">
    </div>
    <div class="delete-account-container">
        <h2>Delete Account</h2>
        {% if get_flashed_messages() %}
            <div class="flash">
                {% for msg in get_flashed_messages() %}
                <div>{{msg}}</div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="profile-container">
            <form action='/delete_acccount' method="post">
                <input type="text" class="input-field" id=password name=password placeholder="Accept your password">
                <button method='submit' class="button">Delete</button>
            </form>
            <button onclick="window.location.href='/profile'" class="button">Return to Profile</button>
        </div>
</body>

</html>