<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Help</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/help.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="logo">
        <img src="{{ url_for('static', filename='assets/logo.png') }}">
    </div>
    <div class="help-container">
        <h1>Get Help</h1>
        <p>If you need assistance, please contact us:</p>
        <p><a href="mailto:shtohryn.pn@ucu.edu.ua">shtohryn.pn@ucu.edu.ua</a></p>
        <p>For urgent matters, call us at: <br> +1234567890</p>
        <button onclick="window.location.href='/profile'" class="button">Return to Profile</button>
    </div>
</body>

</html>