<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Help</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/history.css') }}">
</head>

<body>
    <div class="logo">
        <img src="{{ url_for('static', filename='assets/logo.png') }}">
    </div>
    <div class="container">
        {% for order in order_list %}
            <button> {{order['naming']}} </button>
        {% endfor %}
    </div>
    <a href="/profile"> Return to account </a>
</body>

</html>