<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not found</title>
    <link rel="stylesheet" href="../styles/general.css">
    <link rel="stylesheet" href="../styles/not_found.css">
</head>

<body>
    <div class="logo">
        <img src="../assets/logo.png">
    </div>
    <div class="container">
        <h1>Page not found</h1>
        <button onclick="window.location.href='/choose_way'" class="button">Back to main page</button>
    </div>
    <div>
        <img class="profile" onclick="window.location.href='/profile'" src="../assets/transperent_person.png">
    </div>
</body>

</html>