<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/profile.css') }}">
</head>

<body>
    <div class="logo">
        <img src="{{ url_for('static', filename='assets/logo.png') }}">
    </div>
    <div class="profile-container">
        <ul>
            <form action='/profile' method='post'>
                <li><button method='submit' name='action' value='b1' style="font-weight: bold;">Sign Out</button></li>
            </form>
            <li><a href="/delete_acccount" style="font-weight: bold;">Delete Account</a></li>
            <form action='/profile' method='post'>
                <li><button method='submit' name='action' value='b2' style="font-weight: bold;">Current Trip</a></li>
            </form>
            <li><a href="/change_info" style="font-weight: bold;">Change Info</a></li>
            <a href="/get_help" style="font-weight: bold;" class="backround">Get Help</a>
        </ul>
    </div>

</html>