<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/general.css">
    <link rel="stylesheet" href="../styles/profile.css">
</head>

<body>
    <div class="logo">
        <img src="../assets/logo.png">
    </div>
    <div class="profile-container">
        <ul>
            <li><a href="O_start-page.html" style="font-weight: bold;">Sign Out</a></li>
            <li><a href="V_delete_account.html" style="font-weight: bold;">Delete Account</a></li>
            <li><a href="O_main.html" style="font-weight: bold;">Current Trip</a></li>
            <li><a href="V_change_info.html" style="font-weight: bold;">Change Info</a></li>
            <a href="V_get_help.html" style="font-weight: bold;" class="backround">Get Help</a>
        </ul>
    </div>

</html>