<!DOCTYPE html>
<html lang="en">

<body>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/your_driver.css') }}">
    <title>Hello Map</title>

    <div class="logo">
        <img src="{{ url_for('static', filename='assets/logo.png') }}">
    </div>

    <div class="info-container">
        <h2>Car number:</h2>
        <div class="text_num">{{ car_license }}</div>
        <h2>Car type:</h2>
        <div class="text_type">{{ car_type }}</div>
        <from action='/your_driver' method='post'>
            <button method = 'submit' class="button">See on a map</button>
        </from>
        {% if city_list %}
        <div id="map" style="height: 400px; width: 100%;"></div>
        {% endif %}
    </div>

    <div class="driver-container">
        <h1 style="color: #fff;">Say Hello!</h1>
        <div><img class="driver-photo" src="{{ url_for('static', filename='assets/white_person.png') }}"></div>
        <div class="name-of-driver">Driver Name</div>
    </div>

    <div>
        <img class="profile" onclick="window.location.href='/profile'"
            src="{{ url_for('static', filename='assets/transperent_person.png') }}">
    </div>
</body>

<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: -34.397, lng: 150.644},
            zoom: 8
        });

        var city_list = {{ city_list | tojson }};

        for (var i = 0; i < city_list.length - 1; i++) {
            var directionsService = new google.maps.DirectionsService();
            var request = {
                origin: city_list[i],
                destination: city_list[i+1],
                travelMode: 'DRIVING'
            };
            directionsService.route(request, function(response, status) {
                if (status == 'OK') {
                    var directionsDisplay = new google.maps.DirectionsRenderer();
                    directionsDisplay.setMap(map);
                    directionsDisplay.setDirections(response);
                }
            });
        }
    }

    function initMapOnLoad() {
        initMap();
    }
    window.addEventListener('load', initMapOnLoad);
</script>

</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZLOb5jlcg6kuiu7ovzBg6yAdjwkcqfAA&callback=initMap"></script>

</html>