<!DOCTYPE html>
<html lang="en">

<body>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/your_driver.css') }}">
    <title>Hello Map</title>

    <div class="logo">
        <img src="{{ url_for('static', filename='assets/logo.png') }}">
    </div>

    <div class="info-container">
        <h2>Car number:</h2>
        <div class="text_num">XXXXXXXX</div>
        <h2>Car type:</h2>
        <div class="text_type">XXXXXXXX</div>
        <from action='/your_driver' method='post'>
            <button metohd='submit' class="button" style="width: 50%;">See on a map</button>
        </from>
        {% if city_list %}
        <div id="map" style="height: 400px; width: 100%;"></div>
        {% endif %}
    </div>

    <div class="driver-container">
        <h1 style="color: #fff;">Say Hello!</h1>
        <div><img class="driver-photo" src="{{ url_for('static', filename='assets/white_person.png') }}"></div>
        <div class="name-of-driver">Driver Name</div>
    </div>

    <div>
        <img class="profile" onclick="window.location.href='V_profile.html'"
            src="{{ url_for('static', filename='assets/transperent_person.png') }}">
    </div>
</body>

</html>