
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.drivers-page-zvr {
  box-sizing: border-box;
  padding: 5.5rem 3rem 17.6rem 3.5rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(119, 119, 119, 0.8000000119);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/drivers-page-bg.png');
}
.drivers-page-zvr .auto-group-di8n-XA6 {
  margin-bottom: 3.9rem;
  width: 100%;
  height: 19.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.drivers-page-zvr .auto-group-di8n-XA6 .auto-group-kpsi-fXC {
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/image-37-bg-hAn.png');
  flex-shrink: 0;
}
.drivers-page-zvr .auto-group-di8n-XA6 .auto-group-kpsi-fXC .image-38-dU2 {
  width: 22.8rem;
  height: 19.5rem;
  object-fit: cover;
  vertical-align: top;
}
.drivers-page-zvr .auto-group-di8n-XA6 .auto-group-ahww-Yaz {
  box-sizing: border-box;
  padding: 1.8rem 0rem 0rem 0.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.drivers-page-zvr .auto-group-di8n-XA6 .auto-group-ahww-Yaz .auto-group-ypev-5L2 {
  margin: 1.95rem 73.6rem 2.55rem 0rem;
  width: 59.3rem;
  height: calc(100% - 4.5rem);
  position: relative;
  flex-shrink: 0;
}
.drivers-page-zvr .auto-group-di8n-XA6 .auto-group-ahww-Yaz .auto-group-ypev-5L2 .radical-ways-oG2 {
  width: 59.3rem;
  height: 13.2rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  font-size: 9.6rem;
  font-weight: 700;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.drivers-page-zvr .auto-group-di8n-XA6 .auto-group-ahww-Yaz .auto-group-ypev-5L2 .radical-ways-fZ8 {
  width: 59.3rem;
  height: 13.2rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  font-size: 9.6rem;
  font-weight: 700;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.drivers-page-zvr .auto-group-di8n-XA6 .auto-group-ahww-Yaz .vecteezyuser-icon-on-transparent-background19879186-1-8xW {
  width: 29.2rem;
  height: 17.7rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.drivers-page-zvr .auto-group-fnxx-SyC {
  margin: 0rem 21.1rem 0rem 11.4rem;
  width: calc(100% - 32.5rem);
  height: 61.5rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.drivers-page-zvr .auto-group-fnxx-SyC .auto-group-xhq2-NM4 {
  margin-right: 32.5rem;
  width: 66.5rem;
  height: 100%;
  flex-shrink: 0;
}
.drivers-page-zvr .auto-group-fnxx-SyC .auto-group-xhq2-NM4 .current-orders--WiA {
  margin: 0rem 0rem 1.8rem 2.3rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.drivers-page-zvr .auto-group-fnxx-SyC .auto-group-xhq2-NM4 .text-field-dXt {
  box-sizing: border-box;
  padding: 1.5rem 1.3rem;
  width: 100%;
  height: 52.5rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  border-radius: 1.2rem;
}
.drivers-page-zvr .auto-group-fnxx-SyC .auto-group-xhq2-NM4 .text-field-dXt .auto-group-6pzs-AXp {
  margin: 0rem 10.5rem 38.65rem 0rem;
  box-sizing: border-box;
  padding-top: 2.05rem;
  width: 53.4rem;
  height: 10.85rem;
}
.drivers-page-zvr .auto-group-fnxx-SyC .auto-group-xhq2-NM4 .text-field-dXt .auto-group-6pzs-AXp .lviv-chernivtsi-kropyvnytskyi-kremenchuk-bohodukhiv-kharkiv-sx2 {
  max-width: 53.4rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
}
.drivers-page-zvr .auto-group-fnxx-SyC .auto-group-rnwa-Rka {
  margin-top: 2.7rem;
  width: 54rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.drivers-page-zvr .auto-group-fnxx-SyC .auto-group-rnwa-Rka .auto-group-txp4-Zrn {
  margin-bottom: 16.3rem;
  width: 100%;
  height: 16.3rem;
  display: flex;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.365;
  color: #f1f1f1;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 4.53rem #569daa;
  background-color: #569daa;
  border-radius: 4.5rem;
  flex-shrink: 0;
}
.drivers-page-zvr .auto-group-fnxx-SyC .auto-group-rnwa-Rka .auto-group-ugmk-DgS {
  width: 100%;
  height: 16.3rem;
  display: flex;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.365;
  color: #f1f1f1;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 4.53rem #569daa;
  background-color: #569daa;
  border-radius: 4.5rem;
  flex-shrink: 0;
}
