.button {
    margin-top: 10px;
    box-shadow: 0 0.4rem 4.53rem #569daa;
    background-color: #569daa;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: block;
    left: 0;
    top: 4rem;
    width: 100%;
    box-shadow: 0 0.4rem 4.53rem #569daa;
    background-color: #569daa;
    border-radius: 4.5rem;
}

.logo {
    position: fixed;
    top: 10px;
    left: 10px;
    border-radius: 50%;
}

.logo img {
    width: 100px;
    height: auto;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../assets/desert.jpg');
    background-size: cover;
    background-position: center;
}

.profile {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 100px;
    height: auto;
}

.flash {
    background-color: #dc858c;
    color: #721c24;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}