.container {
    width: 400px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    overflow-y: auto;
    display: table-column;
    justify-content: center;
}

a {
    display: block;
    padding: 10px 0;
    color: #000;
    text-decoration: none;
    width: 100%;
    cursor: pointer;
}

a:hover {
    color: #569DAA;
}