.order-container {
    width: 800px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    overflow-y: auto;
}

h1 {
    color: #333;
    margin-top: 2%;
    margin-bottom: 2%;
}

p {
    color: #666;
}

a {
    color: #569DAA;
    text-decoration: none;
}

.buttons {
    width: 100%;
    display: flex;
}

.button {
    margin: 1%;
    margin-top: 5%;
}

.map {
    height: 300px;
}