
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.profile-page-6hC {
  box-sizing: border-box;
  padding: 5.5rem 3rem 16.1rem 4.9rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(119, 119, 119, 0.8000000119);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/profile-page-bg.png');
}
.profile-page-6hC .auto-group-hejy-Dmp {
  margin-bottom: 1.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.profile-page-6hC .auto-group-hejy-Dmp .image-40-ABG {
  margin-right: 0.6rem;
  width: 22.8rem;
  height: 19.5rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.profile-page-6hC .auto-group-hejy-Dmp .radical-ways-gvJ {
  margin: 1.2rem 19.5rem 0rem 0rem;
  cursor: pointer;
  display: flex;
  font-size: 9.6rem;
  font-weight: 700;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.profile-page-6hC .auto-group-hejy-Dmp .auto-group-hxes-zRC {
  margin-top: 1.8rem;
  width: 81.9rem;
  height: 17.7rem;
  position: relative;
  flex-shrink: 0;
}
.profile-page-6hC .auto-group-hejy-Dmp .auto-group-hxes-zRC .vecteezyuser-icon-on-transparent-background19879186-1-8XQ {
  width: 29.2rem;
  height: 17.7rem;
  position: absolute;
  left: 52.7rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.profile-page-6hC .auto-group-hejy-Dmp .auto-group-hxes-zRC .rectangle-8-EqL {
  width: 53.2rem;
  height: 9.8rem;
  position: absolute;
  left: 0;
  top: 4rem;
  box-shadow: 0 0.4rem 4.53rem #569daa;
  background-color: #569daa;
  border-radius: 4.5rem;
}
.profile-page-6hC .auto-group-hejy-Dmp .auto-group-hxes-zRC .set-new-profile-picture-k2z {
  width: 44.8rem;
  height: 5.5rem;
  position: absolute;
  left: 3.7rem;
  top: 6.1rem;
  display: flex;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.365;
  color: #f1f1f1;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.profile-page-6hC .name-current--q4S {
  margin: 0rem 0rem 0.7rem 50.2rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.profile-page-6hC .auto-group-kqz8-LG6 {
  margin: 0rem 12.8rem 0rem 20.4rem;
  width: calc(100% - 33.2rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.profile-page-6hC .auto-group-kqz8-LG6 .text-field-Fdx {
  margin-right: 16.9rem;
  width: 58.3rem;
  height: 56.5rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.profile-page-6hC .auto-group-kqz8-LG6 .text-field-Fdx .auto-group-tawx-BXc {
  width: 53.5rem;
  height: 9.3rem;
  position: absolute;
  left: 2.4rem;
  top: 1.5rem;
}
.profile-page-6hC .auto-group-kqz8-LG6 .text-field-Fdx .auto-group-tawx-BXc .auto-group-rjd4-iXY {
  margin-right: 33rem;
  box-sizing: border-box;
  padding: 2.1rem 0rem 0rem 1rem;
  width: 20.5rem;
  height: 100%;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.profile-page-6hC .auto-group-kqz8-LG6 .text-field-Fdx .line-1-CSi {
  width: 49.9049rem;
  height: 0;
  position: absolute;
  left: 2.5rem;
  top: 12.1rem;
  object-fit: contain;
  vertical-align: top;
}
.profile-page-6hC .auto-group-kqz8-LG6 .text-field-Fdx .line-3-w9Q {
  width: 49.9049rem;
  height: 0;
  position: absolute;
  left: 2.5rem;
  top: 33rem;
  object-fit: contain;
  vertical-align: top;
}
.profile-page-6hC .auto-group-kqz8-LG6 .text-field-Fdx .line-5-GxN {
  width: 49.9049rem;
  height: 0;
  position: absolute;
  left: 2.5rem;
  top: 44rem;
  object-fit: contain;
  vertical-align: top;
}
.profile-page-6hC .auto-group-kqz8-LG6 .text-field-Fdx .line-4-RqG {
  width: 49.9049rem;
  height: 0;
  position: absolute;
  left: 2.5rem;
  top: 22.5rem;
  object-fit: contain;
  vertical-align: top;
}
.profile-page-6hC .auto-group-kqz8-LG6 .text-field-Fdx .delete-account-yLz {
  width: 36.6rem;
  height: 7.2rem;
  position: absolute;
  left: 3.4rem;
  top: 14.1rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.profile-page-6hC .auto-group-kqz8-LG6 .text-field-Fdx .current-trip-6Ai {
  width: 27.4rem;
  height: 7.2rem;
  position: absolute;
  left: 3.4rem;
  top: 24.4rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.profile-page-6hC .auto-group-kqz8-LG6 .text-field-Fdx .change-info-b7U {
  width: 29.6rem;
  height: 7.2rem;
  position: absolute;
  left: 3.4rem;
  top: 34.9rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #569daa;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.profile-page-6hC .auto-group-kqz8-LG6 .text-field-Fdx .get-help-Hkz {
  width: 20.3rem;
  height: 7.2rem;
  position: absolute;
  left: 3.4rem;
  top: 46rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.profile-page-6hC .auto-group-kqz8-LG6 .auto-group-9j8i-nxe {
  margin-top: 1.1rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.profile-page-6hC .auto-group-kqz8-LG6 .auto-group-9j8i-nxe .text-field-jcz {
  margin-bottom: 5.7rem;
  box-sizing: border-box;
  padding: 1.4rem 0.9rem 0.9rem 0.9rem;
  width: 66.5rem;
  height: 7.3rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.profile-page-6hC .auto-group-kqz8-LG6 .auto-group-9j8i-nxe .text-field-jcz .auto-group-wbrp-TJ6 {
  margin-right: 52.2rem;
  width: 12.5rem;
  height: 100%;
  display: flex;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}
.profile-page-6hC .auto-group-kqz8-LG6 .auto-group-9j8i-nxe .surname-current--Lcn {
  margin-bottom: 0.6rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.profile-page-6hC .auto-group-kqz8-LG6 .auto-group-9j8i-nxe .text-field-ThQ {
  margin-bottom: 3.8rem;
  box-sizing: border-box;
  padding: 1.15rem 1.5rem;
  width: 66.5rem;
  height: 7.3rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.profile-page-6hC .auto-group-kqz8-LG6 .auto-group-9j8i-nxe .text-field-ThQ .auto-group-kkci-NpN {
  margin-right: 47.1rem;
  width: 16.4rem;
  height: 100%;
  display: flex;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}
.profile-page-6hC .auto-group-kqz8-LG6 .auto-group-9j8i-nxe .car-current--Ger {
  margin-bottom: 0.6rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.profile-page-6hC .auto-group-kqz8-LG6 .auto-group-9j8i-nxe .text-field-oPt {
  margin-bottom: 1.5rem;
  box-sizing: border-box;
  padding: 1.15rem 1.5rem;
  width: 66.5rem;
  height: 7.3rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.profile-page-6hC .auto-group-kqz8-LG6 .auto-group-9j8i-nxe .text-field-oPt .auto-group-z3oc-Y6a {
  margin-right: 45.7rem;
  width: 17.8rem;
  height: 100%;
  display: flex;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}
.profile-page-6hC .auto-group-kqz8-LG6 .auto-group-9j8i-nxe .cars-license-number-current--ddp {
  margin-bottom: 0.6rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.profile-page-6hC .auto-group-kqz8-LG6 .auto-group-9j8i-nxe .text-field-kCe {
  box-sizing: border-box;
  padding: 1.15rem 1.5rem;
  width: 66.5rem;
  height: 7.3rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.profile-page-6hC .auto-group-kqz8-LG6 .auto-group-9j8i-nxe .text-field-kCe .auto-group-jans-UeS {
  margin-right: 44.9rem;
  width: 18.6rem;
  height: 100%;
  display: flex;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}
