
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.your-driver-S6J {
  box-sizing: border-box;
  padding: 17.3rem 2.5rem 0rem 9.45rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/your-driver-bg.png');
}
.your-driver-S6J .auto-group-awhu-9Fc {
  margin: 0rem 21.85rem 10rem 0rem;
  width: 158.2rem;
  height: 66.4rem;
  position: relative;
  flex-shrink: 0;
}
.your-driver-S6J .auto-group-awhu-9Fc .but-name-rejected-your-order-U2z {
  width: 157rem;
  height: 14.4rem;
  position: absolute;
  left: 1.2rem;
  top: 13.65rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.your-driver-S6J .auto-group-awhu-9Fc .sorry-YoY {
  width: 24.9rem;
  height: 14.4rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.your-driver-S6J .auto-group-awhu-9Fc .rectangle-10-Se2 {
  width: 62rem;
  height: 22.4rem;
  position: absolute;
  left: 55.55rem;
  top: 44rem;
  box-shadow: 0 0.4rem 4.53rem #569daa;
  background-color: #6b9ca5;
  border-radius: 4.5rem;
}
.your-driver-S6J .auto-group-awhu-9Fc .back-to-user-page-Yh4 {
  width: 54.6rem;
  height: 8.8rem;
  position: absolute;
  left: 59.25rem;
  top: 50.75rem;
  display: flex;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.365;
  color: #f1f1f1;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.your-driver-S6J .image-38-eEJ {
  margin-bottom: 19.8rem;
  width: 8.4rem;
  height: 11.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.your-driver-S6J .rectangle-9-Lcv {
  margin-right: 11.3rem;
  width: 59.9rem;
  height: 12.7rem;
  border: solid 0.8rem #ffffff;
  box-sizing: border-box;
  background-color: rgba(253, 253, 253, 0);
  flex-shrink: 0;
}
