
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.your-driver-sWW {
  box-sizing: border-box;
  padding: 6rem 2.5rem 0rem 7.7rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/your-driver-bg-Wg6.png');
}
.your-driver-sWW .auto-group-9p5t-x2A {
  margin: 0rem 6.7rem 5.5rem 0rem;
  width: calc(100% - 6.7rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.your-driver-sWW .auto-group-9p5t-x2A .auto-group-uv8v-gD4 {
  margin-right: 23.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.your-driver-sWW .auto-group-9p5t-x2A .auto-group-uv8v-gD4 .say-hello--EEa {
  margin: 0rem 0.1rem 11.7rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.your-driver-sWW .auto-group-9p5t-x2A .auto-group-uv8v-gD4 .vecteezyuser-icon-on-transparent-background19879186-2-vdC {
  width: 65rem;
  height: 39.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.your-driver-sWW .auto-group-9p5t-x2A .auto-group-2tpk-SLe {
  margin-top: 0.6rem;
  width: 86.8rem;
  height: 73.3rem;
  position: relative;
  flex-shrink: 0;
}
.your-driver-sWW .auto-group-9p5t-x2A .auto-group-2tpk-SLe .rectangle-14-AXY {
  width: 86.8rem;
  height: 73.3rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(241, 241, 241, 0.7900000215);
  border-radius: 11rem;
}
.your-driver-sWW .auto-group-9p5t-x2A .auto-group-2tpk-SLe .text-field-V42 {
  width: 49.9rem;
  height: 9.9rem;
  position: absolute;
  left: 20.4rem;
  top: 45.2rem;
  overflow: hidden;
  text-align: center;
  font-size: 3.4rem;
  font-weight: 400;
  line-height: 1.2450000539;
  color: #ffffff;
  font-family: Inknut Antiqua, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6b9ca5;
  border-radius: 1.2rem;
}
.your-driver-sWW .auto-group-9p5t-x2A .auto-group-2tpk-SLe .text-field-vQE {
  width: 49.9rem;
  height: 9.9rem;
  position: absolute;
  left: 20.4rem;
  top: 20.5rem;
  overflow: hidden;
  text-align: center;
  font-size: 3.4rem;
  font-weight: 400;
  line-height: 1.2450000539;
  color: #ffffff;
  font-family: Inknut Antiqua, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6b9ca5;
  border-radius: 1.2rem;
}
.your-driver-sWW .auto-group-9p5t-x2A .auto-group-2tpk-SLe .car-type--mfk {
  width: 21.8rem;
  height: 7.2rem;
  position: absolute;
  left: 5.4rem;
  top: 34.15rem;
  display: flex;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.your-driver-sWW .auto-group-9p5t-x2A .auto-group-2tpk-SLe .car-number--GcW {
  width: 30.2rem;
  height: 7.2rem;
  position: absolute;
  left: 5.4rem;
  top: 9.6rem;
  display: flex;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #0a2640;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  align-items: baseline;
}
.your-driver-sWW .auto-group-9p5t-x2A .auto-group-2tpk-SLe .car-number--GcW .car-number--GcW-sub-0 {
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #0a2640;
  font-family: Poppins, 'Source Sans Pro';
}
.your-driver-sWW .auto-group-9p5t-x2A .auto-group-2tpk-SLe .car-number--GcW .car-number--GcW-sub-1 {
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}
.your-driver-sWW .auto-group-9p5t-x2A .auto-group-2tpk-SLe .car-number--GcW .car-number--GcW-sub-2 {
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #0a2640;
  font-family: Poppins, 'Source Sans Pro';
}
.your-driver-sWW .auto-group-d3sk-ZX4 {
  margin-bottom: 19.8rem;
  height: 19.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.your-driver-sWW .auto-group-d3sk-ZX4 .auto-group-cbyx-VvW {
  margin: 0rem 47.8rem 6.7rem 0rem;
  width: 59.9rem;
  height: 12.7rem;
  position: relative;
  flex-shrink: 0;
}
.your-driver-sWW .auto-group-d3sk-ZX4 .auto-group-cbyx-VvW .name-surname-RZG {
  width: 53rem;
  height: 8.5rem;
  position: absolute;
  left: 3.9rem;
  top: 2.15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 7rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.your-driver-sWW .auto-group-d3sk-ZX4 .auto-group-cbyx-VvW .rectangle-9-7wt {
  width: 59.9rem;
  height: 12.7rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.8rem #ffffff;
  box-sizing: border-box;
  background-color: rgba(253, 253, 253, 0);
}
.your-driver-sWW .auto-group-d3sk-ZX4 .auto-group-qvdx-Emc {
  margin: 3.3rem 16.3rem 5rem 0rem;
  width: 46.9rem;
  height: calc(100% - 8.3rem);
  display: flex;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.365;
  color: #f1f1f1;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 4.53rem #569daa;
  background-color: #6b9ca5;
  border-radius: 4.5rem;
  flex-shrink: 0;
}
.your-driver-sWW .auto-group-d3sk-ZX4 .image-38-DtS {
  margin-top: 8.3rem;
  width: 8.4rem;
  height: 11.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.your-driver-sWW .rectangle-9-k7g {
  margin-right: 11.3rem;
  width: 59.9rem;
  height: 12.7rem;
  border: solid 0.8rem #ffffff;
  box-sizing: border-box;
  background-color: rgba(253, 253, 253, 0);
  flex-shrink: 0;
}
