
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.log-in-ZRG {
  width: 100%;
  overflow: hidden;
  display: flex;
  border: solid 0.1rem #000000;
  background-repeat: no-repeat;
  background-image: url('REPLACE_IMAGE:e7d7a3ba1ba04d2a1bd6eefc5bd242efe872ab61');
  box-sizing: border-box;
  padding: 10.8rem 17.3rem 10.9rem 21rem;
  position: relative;
  align-items: center;
  background-color: #f1f1f1;
  background-size: 100% 100%;
  background-position: center;

  .auto-group-ioqr-58i {
    width: 46.4rem;
    height: 13.2rem;
    position: relative;
    flex-shrink: 0;
    margin: 0rem 31.3rem 13.8rem 0rem;

    .welcome-Pv6 {
      font-size: 9.6rem;
      height: 13.2rem;
      position: absolute;
      top: 0;
      display: flex;
      color: #ffffff;
      font-family: Manrope, 'Source Sans Pro';
      white-space: nowrap;
      width: 46.4rem;
      left: 0;
      font-weight: 700;
      line-height: 1.365;
    }
    .welcome-J1U {
      line-height: 1.365;
      color: #ffffff;
      width: 46.4rem;
      left: 0;
      top: 0;
      display: flex;
      font-weight: 700;
      height: 13.2rem;
      position: absolute;
      font-size: 9.6rem;
      font-family: Manrope, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .auto-group-yzq2-D8S {
    height: 86.3rem;
    position: relative;
    flex-shrink: 0;
    width: 76rem;

    .create-an-account-xbp {
      background-color: rgba(241, 241, 241, 0.6700000167);
      border-radius: 2.4rem;
      box-sizing: border-box;
      height: 86.3rem;
      position: absolute;
      left: 0;
      top: 0;
      padding-left: 11.1rem;
      width: 76rem;
      overflow: hidden;

      .frame-236-5gS {
        width: 66.5rem;
        height: 58.4rem;
        align-items: center;
        display: flex;
        flex-direction: column;

        .email-DXk {
          margin-bottom: 0.1rem;
          width: 100%;
          height: 11.2rem;
          flex-shrink: 0;
        }
        .email-Z5p {
          width: 100%;
          height: 11.2rem;
          flex-shrink: 0;
        }
        .auto-group-akvv-Wmk {
          flex-shrink: 0;
          box-sizing: border-box;
          padding-top: 0.1rem;
          width: 100%;
          display: flex;
          flex-direction: column;

          .nice-to-see-you-again-fPk {
            font-size: 3.2rem;
            line-height: 1.5;
            color: #333333;
            white-space: nowrap;
            margin-bottom: 2.4rem;
            display: flex;
            font-weight: 500;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .auto-group-bsii-yfL {
            width: 53.4rem;
            height: 28.6rem;
            position: relative;
            flex-shrink: 0;

            .email-vaa {
              left: 0;
              top: 0;
              box-sizing: border-box;
              padding-bottom: 2.5rem;
              width: 53.4rem;
              height: 11.2rem;
              position: absolute;

              .frame-243-TaW {
                font-weight: 400;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 0.4rem;
                font-size: 1.6rem;
                line-height: 1.5;
                color: #000000;
                width: 52.5137rem;
                height: 2.7rem;
              }
              .text-field-y34 {
                position: relative;
                background-color: #ffffff;
                border-radius: 1.2rem;
                width: 100%;
                height: 5.6rem;
                overflow: hidden;
              }
            }
            .email-J5L {
              box-sizing: border-box;
              padding-bottom: 2.5rem;
              width: 53.4rem;
              height: 11.2rem;
              position: absolute;
              left: 0;
              top: 11.1rem;

              .frame-243-EUn {
                width: 52.5137rem;
                height: 2.7rem;
                font-size: 1.6rem;
                color: #000000;
                margin-bottom: 0.4rem;
                font-weight: 400;
                line-height: 1.5;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
              }
              .text-field-9bk {
                overflow: hidden;
                position: relative;
                background-color: #ffffff;
                border-radius: 1.2rem;
                width: 100%;
                height: 5.6rem;
              }
            }
            .button-gra {
              box-sizing: border-box;
              width: 53.4rem;
              position: absolute;
              overflow: hidden;
              padding: 1.5rem 17.15rem 1.6rem 17.15rem;
              height: 6.4rem;
              cursor: pointer;
              left: 0;
              top: 22.2rem;
              background-color: #569daa;
              border-radius: 4rem;

              .frame-276-bTk {
                height: 100%;
                justify-content: center;
                font-size: 2.2rem;
                width: 100%;
                align-items: center;
                font-weight: 500;
                line-height: 1.5;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                display: flex;
              }
            }
          }
        }
      }
    }
    .image-38-4ML {
      width: 7.2rem;
      height: 6.4rem;
      position: absolute;
      left: 64.1rem;
      top: 74.8rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
}
