
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 54rem;
}.looking-uzn {
  height: 16.3rem;
  box-shadow: 0 0.4rem 4.53rem #569daa;
  border-radius: 4.5rem;
  display: flex;
  font-size: 4.8rem;
  line-height: 1.365;
  font-weight: 700;
  color: #f1f1f1;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(86, 157, 170, 0.5799999833);
  width: 100%;
}
