
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 191.8rem;
}.map-Xqp {
  height: 107rem;
  background-size: 100% 100%;
  background-position: center;
  background-image: url('REPLACE_IMAGE:a4c3897e928bd029cc150db7f337569cefefa759');
  width: 100%;
  overflow: hidden;
  background-color: #ffffff;
  background-repeat: no-repeat;
  position: relative;

  .rectangle-15-Ha6 {
    object-fit: contain;
    vertical-align: top;
    border-radius: 4.5rem;
    width: 24rem;
    height: 8.8rem;
    position: absolute;
    left: 7.4rem;
    top: 6.75rem;
  }
  .back-to-orders-1W6 {
    width: 21.6rem;
    height: 3.8rem;
    position: absolute;
    font-size: 3.1rem;
    font-weight: 500;
    left: 8.6rem;
    top: 9.4rem;
    text-align: center;
    line-height: 1.2125;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
  }
}
