
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.start-page-98S {
  background-color: #f1f1f1;
  background-size: 100% 100%;
  background-position: center;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  background-repeat: no-repeat;
  background-image: url('REPLACE_IMAGE:375e6941c955241d9a8b9b9d2dfc17b1732c5982');

  .auto-group-2udc-fca {
    width: 192rem;
    height: 108rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-13-z94 {
      background-color: rgba(241, 241, 241, 0.8999999762);
      border-radius: 11rem;
      width: 166.9rem;
      height: 84.3rem;
      position: absolute;
      left: 10.1rem;
      top: 11.8rem;
    }
    .frame-4-Htr {
      left: 145.5rem;
      top: 51.8rem;
      overflow: hidden;
      width: 9.6rem;
      height: 10rem;
      position: absolute;
    }
    .radical-ways-pdt {
      position: absolute;
      font-weight: 700;
      color: #000000;
      line-height: 1.365;
      font-family: Manrope, 'Source Sans Pro';
      width: 59.3rem;
      height: 13.2rem;
      left: 38.4rem;
      top: 18.75rem;
      display: flex;
      font-size: 9.6rem;
      white-space: nowrap;
    }
    .image-37-X2W {
      width: 22.8rem;
      height: 19.5rem;
      position: absolute;
      left: 15rem;
      top: 15rem;
      object-fit: cover;
      vertical-align: top;
    }
    .rectangle-6-42S {
      position: absolute;
      box-shadow: 0 0.4rem 4.34rem rgba(68, 132, 144, 0.25);
      background-color: rgba(68, 132, 144, 0.7599999905);
      border-radius: 4.5rem;
      height: 16.3rem;
      cursor: pointer;
      left: 115.2rem;
      top: 37.7rem;
      width: 51.2rem;
    }
    .rectangle-7-Kyx {
      box-shadow: 0 0.4rem 4.34rem rgba(68, 132, 144, 0.25);
      background-color: rgba(67, 132, 144, 0.7599999905);
      width: 54rem;
      cursor: pointer;
      left: 114.5rem;
      border-radius: 4.5rem;
      height: 16.3rem;
      position: absolute;
      top: 62.4rem;
    }
    .sign-up-y2v {
      height: 8.8rem;
      position: absolute;
      display: flex;
      white-space: nowrap;
      width: 22.8rem;
      left: 130.3rem;
      top: 41.45rem;
      font-size: 6.4rem;
      font-weight: 600;
      line-height: 1.365;
      color: #ffffff;
      font-family: Manrope, 'Source Sans Pro';
    }
    .log-in-eer {
      font-weight: 600;
      line-height: 1.365;
      color: #ffffff;
      width: 18.1rem;
      left: 131.9rem;
      display: flex;
      font-size: 6.4rem;
      white-space: nowrap;
      height: 8.8rem;
      position: absolute;
      top: 66.15rem;
      font-family: Manrope, 'Source Sans Pro';
    }
    .radical-ways-is-a-transportation-network-website-that-operates-a-ride-hailing-service-which-is-convenient-to-use-it-provides-on-demand-transportation-services-allowing-users-to-request-a-ride-using-our-algorithm-ZWv {
      width: 76.5rem;
      height: 32.7rem;
      position: absolute;
      display: flex;
      font-weight: 400;
      line-height: 1.3625;
      color: #000000;
      left: 26.4rem;
      top: 43rem;
      font-size: 4rem;
      font-family: Open Sans, 'Source Sans Pro';
    }
  }
  .arrow-2-ZQS {
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
    width: 55.9rem;
    height: 88.3rem;
  }
}
