.container {
    width: 500px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
}

h1 {
    color: #333;
}

p {
    color: #000;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 22px;
}

a {
    color: #569DAA;
    text-decoration: none;
}

.button {
    width: 200px;
    height: 60px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
}

.title-and-orders {
    display: flex;
    flex-direction: column;
    justify-content: top;
}

.order {
    margin-bottom: 1%;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.order:hover {
    background-color: #f0f0f0;
}