
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 195.3rem;
}.frame-2-Tkr {
  box-sizing: border-box;
  padding: 8.6rem 0rem 11.1rem 12.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.frame-2-Tkr .auto-group-rnnz-3DG {
  margin: 0rem 16.8rem 9.5rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame-2-Tkr .auto-group-rnnz-3DG .ellipse-1-41t {
  margin-right: 12.8rem;
  width: 17.9rem;
  height: 17.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-2-Tkr .auto-group-rnnz-3DG .ellipse-2-ZUS {
  margin-right: 11.1rem;
  width: 16.5rem;
  height: 17.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-2-Tkr .auto-group-rnnz-3DG .ellipse-3-uYJ {
  margin-right: 11.1rem;
  width: 17.2rem;
  height: 17.2rem;
  background-color: #f1f1f1;
  border-radius: 8.6rem;
  flex-shrink: 0;
}
.frame-2-Tkr .auto-group-rnnz-3DG .ellipse-4-dUJ {
  margin-right: 10.4rem;
  width: 17.2rem;
  height: 17.2rem;
  background-color: #0a2640;
  border-radius: 8.6rem;
  flex-shrink: 0;
}
.frame-2-Tkr .auto-group-rnnz-3DG .ellipse-5-yHG {
  margin-right: 13.8rem;
  width: 17.2rem;
  height: 17.2rem;
  background-color: #569daa;
  border-radius: 8.6rem;
  flex-shrink: 0;
}
.frame-2-Tkr .auto-group-rnnz-3DG .ellipse-6-stS {
  width: 17.3rem;
  height: 17.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-2-Tkr .auto-group-jjbk-QtN {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame-2-Tkr .auto-group-jjbk-QtN .auto-group-9cfy-Moc {
  margin-right: 1.1rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-2-Tkr .auto-group-jjbk-QtN .auto-group-9cfy-Moc .item--4T8 {
  margin-bottom: 1.5rem;
  display: flex;
  font-size: 9.6rem;
  font-weight: 400;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-2-Tkr .auto-group-jjbk-QtN .auto-group-9cfy-Moc .item--5d8 {
  margin: 0rem 0rem 0.2rem 1.8rem;
  display: flex;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-2-Tkr .auto-group-jjbk-QtN .auto-group-9cfy-Moc .item--A8n {
  margin-left: 1.8rem;
  display: flex;
  font-size: 4.8rem;
  font-weight: 300;
  line-height: 1.3625;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-2-Tkr .auto-group-jjbk-QtN .auto-group-ykve-Sc6 {
  margin-top: 0.8rem;
  width: 129.5rem;
  height: 36.6rem;
  position: relative;
  flex-shrink: 0;
}
.frame-2-Tkr .auto-group-jjbk-QtN .auto-group-ykve-Sc6 .ellipse-7-B3t {
  width: 41.7rem;
  height: 11.9rem;
  position: absolute;
  left: 0;
  top: 11.4rem;
  object-fit: contain;
  vertical-align: top;
}
.frame-2-Tkr .auto-group-jjbk-QtN .auto-group-ykve-Sc6 .item--6ge {
  width: 27.2rem;
  height: 8.8rem;
  position: absolute;
  left: 8.6rem;
  top: 12.75rem;
  display: flex;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #0a2640;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-2-Tkr .auto-group-jjbk-QtN .auto-group-ykve-Sc6 .image-34-Mca {
  width: 42.1rem;
  height: 33.7rem;
  position: absolute;
  left: 87.4rem;
  top: 0.7rem;
  object-fit: cover;
  vertical-align: top;
}
.frame-2-Tkr .auto-group-jjbk-QtN .auto-group-ykve-Sc6 .image-37-eLn {
  width: 46.3rem;
  height: 36.6rem;
  position: absolute;
  left: 62.1rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.frame-2-Tkr .auto-group-jjbk-QtN .auto-group-ykve-Sc6 .image-38-B5p {
  width: 40.8rem;
  height: 32.6rem;
  position: absolute;
  left: 40rem;
  top: 2rem;
  object-fit: cover;
  vertical-align: top;
}
