.order-container {
    width: 800px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

h1 {
    color: #333;
    margin-top: 15%;
}

p {
    color: #666;
}

a {
    color: #569DAA;
    text-decoration: none;
}

.buttons {
    width: 100%;
    display: flex;
    margin-top: 15%;
}

.button {
    margin: 1%;
}