
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.start-page-98S {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-end;
  background-color: #f1f1f1;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-12-bg.png');
}
.start-page-98S .auto-group-2udc-fca {
  width: 192rem;
  height: 108rem;
  position: relative;
  flex-shrink: 0;
}
.start-page-98S .auto-group-2udc-fca .rectangle-13-z94 {
  width: 166.9rem;
  height: 84.3rem;
  position: absolute;
  left: 10.1rem;
  top: 11.8rem;
  background-color: rgba(241, 241, 241, 0.8999999762);
  border-radius: 11rem;
}
.start-page-98S .auto-group-2udc-fca .frame-4-Htr {
  width: 9.6rem;
  height: 10rem;
  position: absolute;
  left: 145.5rem;
  top: 51.8rem;
  overflow: hidden;
}
.start-page-98S .auto-group-2udc-fca .radical-ways-pdt {
  width: 59.3rem;
  height: 13.2rem;
  position: absolute;
  left: 38.4rem;
  top: 18.75rem;
  display: flex;
  font-size: 9.6rem;
  font-weight: 700;
  line-height: 1.365;
  color: #000000;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.start-page-98S .auto-group-2udc-fca .image-37-X2W {
  width: 22.8rem;
  height: 19.5rem;
  position: absolute;
  left: 15rem;
  top: 15rem;
  object-fit: cover;
  vertical-align: top;
}
.start-page-98S .auto-group-2udc-fca .rectangle-6-42S {
  width: 51.2rem;
  height: 16.3rem;
  cursor: pointer;
  position: absolute;
  left: 115.2rem;
  top: 37.7rem;
  box-shadow: 0 0.4rem 4.34rem rgba(68, 132, 144, 0.25);
  background-color: rgba(68, 132, 144, 0.7599999905);
  border-radius: 4.5rem;
}
.start-page-98S .auto-group-2udc-fca .rectangle-7-Kyx {
  width: 54rem;
  height: 16.3rem;
  cursor: pointer;
  position: absolute;
  left: 114.5rem;
  top: 62.4rem;
  box-shadow: 0 0.4rem 4.34rem rgba(68, 132, 144, 0.25);
  background-color: rgba(67, 132, 144, 0.7599999905);
  border-radius: 4.5rem;
}
.start-page-98S .auto-group-2udc-fca .sign-up-y2v {
  width: 22.8rem;
  height: 8.8rem;
  position: absolute;
  left: 130.3rem;
  top: 41.45rem;
  display: flex;
  font-size: 6.4rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.start-page-98S .auto-group-2udc-fca .log-in-eer {
  width: 18.1rem;
  height: 8.8rem;
  position: absolute;
  left: 131.9rem;
  top: 66.15rem;
  display: flex;
  font-size: 6.4rem;
  font-weight: 600;
  line-height: 1.365;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
}
.start-page-98S .auto-group-2udc-fca .radical-ways-is-a-transportation-network-website-that-operates-a-ride-hailing-service-which-is-convenient-to-use-it-provides-on-demand-transportation-services-allowing-users-to-request-a-ride-using-our-algorithm-ZWv {
  width: 76.5rem;
  height: 32.7rem;
  position: absolute;
  left: 26.4rem;
  top: 43rem;
  display: flex;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.3625;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.start-page-98S .arrow-2-ZQS {
  width: 55.9rem;
  height: 88.3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
