.order-container {
    width: 600px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

.input-field {
    margin-bottom: 10px;
    width: 49%;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.output-field {
    background-color: #fff;
    width: auto;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

h1 {
    color: #333;
}

p {
    color: #666;
}

a {
    color: #569DAA;
    text-decoration: none;
}

.profile {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 100px;
    height: auto;
}

.buttons {
    width: 100%;
    display: flex;
    margin-top: 5%;
}

.button {
    margin: 1%;
}